.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar .left {
    display: flex;
    gap: 8px;
    align-items: center;
}

.hamburger {
    background: transparent;
    border: none;
    font-size: 54px;
    cursor: pointer;
}

.mode {
    font-weight: 600;
    font-size: 30px;
    align-self: auto;
}

/* Ẩn trên desktop */
.kebab-btn {
    display: none;
}

/* Chỉ hiện khi width <= 768px */
@media (max-width: 768px) {
    .kebab-btn.mobile-only {
        display: block;
        font-size: 24px;
        border: none;
        background: transparent
    }
}